<footer class="bg-black text-white">
    <div class="flex justify-around md:py-52 py-32 flex-wrap sm:text-lg text-[0.8rem]">

        <div class="mx-10">
            <h3 class="font-bold md:my-10 my-5">CONTACTOS</h3>
            <ul class="font-light">
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">WhastApp</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Correo</a></li>
                <li class="md:my-5 my-1">998 237 233</li>
            </ul>
        </div>

        <div class="mx-10">
            <h3 class="font-bold md:my-10 my-5">SUCURSALES</h3>
            <ul class="font-light">
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Fibertel SAC</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Grupo Seguro PC</a></li>
            </ul>
        </div>

        <div class="mx-10">
            <h3 class="font-bold md:my-10 my-5">SERVICIOS</h3>
            <ul class="font-light">
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Instalaciones</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Mantenimientos</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Soluciones</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">COTIZAR</a></li>
            </ul>
        </div>

        <div class="mx-10">
            <h3 class="font-bold md:my-10 my-5">NOSOTROS</h3>
            <ul class="font-light">
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Fibertel SAC</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Facebook</a></li>
                <li class="md:my-5 my-1 hover:text-indigo-500"><a href="">Telefono Movil</a></li>
            </ul>
        </div>
    </div>

    <div class=" flex justify-center pb-10">
        <div class="text-center md:text-lg text-sm mx-5">
            <h3 class="my-4 font-light">S.A.C. R.U.C. Nº 20795620618. Todos los derechos reservados. Jr. Loreto 575 Huancayo - JUNIN</h3>
            <h3 class="my-4">SOLO ENVIOS NACIONALES | TERRITORIO PERUANO</h3>
        </div>
    </div>
</footer>
