<app-access></app-access>
<main>
    <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-5 my-5 fill-black w-8 h-8" viewBox="0 -960 960 960"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
    </a>
    
    <div class="flex justify-center">
        <section class="xl:w-1/3 w-1/2">
            <h5 class="bg-neutral-500 rounded-t-lg text-white roboto-bold text-lg text-center py-2">RESTABLECER CONTRASEÑA</h5>
            <div class="bg-blue-50 text-neutral-500 px-5 py-6">
                <p class=" text-gray-700 ">
                    Ingresa una nueva contraseña para tu cuenta y evita que se repita con las que utilizaste anteriormente.
                </p>
                
                <div class="rounded-lg border-2 border-neutral-500 mt-6 mb-4">
                    <input type="text" placeholder="INGRESA TU CORREO ELECTRONICO" class="bg-transparent outline-none py-2 roboto-regular text-base text-center w-full">
                </div>
                <div class="rounded-lg border-2 border-neutral-500 mt-6 mb-4">
                    <input type="text" placeholder="INGRESA EL CODIGO VERIFICADOR" class="bg-transparent outline-none py-2 roboto-regular text-base text-center w-full">
                </div>
                <div class="rounded-lg border-2 border-neutral-500 mt-6 mb-4">
                    <input type="text" placeholder="INGRESA UNA NUEVA CONTRASEÑA" class="bg-transparent outline-none py-2 roboto-regular text-base text-center w-full">
                </div>
                <div class="rounded-lg border-2 border-neutral-500 mt-6 mb-4">
                    <input type="text" placeholder="CONFIRME LA NUEVA CONTRASEÑA" class="bg-transparent outline-none py-2 roboto-regular text-base text-center w-full">
                </div>
   
                <div class="my-10">
                    <button class="bg-blue-500 w-full rounded-full py-2 text-white roboto-bold text-lg">CREAR</button>
                </div>
            
            </div>
        </section>
    </div>
</main>