<div class="bg-black ">

    <div class="grid grid-rows-2 grid-cols-7">

        <div class="sm:col-start-1 sm:col-end-2 sm:row-start-1 sm:row-end-3 row-start-1 row-end-2 flex justify-center items-center">
            <img class="lg:w-14 lg:h-14 my-2 w-8 h-8" src="assets/img/fibertel.png" alt="">
        </div>

        <div class="sm:col-start-2 sm:col-end-6 col-start-1 col-end-8 sm:row-start-1 sm:row-end-3 row-start-2 row-end-3 content-center mx-5 sm:mx-0">
            <div class="flex sm:py-1 sm:my-2 px-5 py-1 rounded-full w-full bg-white">
                <input type="text" placeholder="¿QUE DESEA BUSCAR?" class="lg:text-lg md:text-sm text-sm text-black w-full outline-none bg-transparent">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class="sm:w-8 sm:h-8 w-6 h-6" viewBox="0 -960 960 960" fill="blcak"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </button>
            </div>
        </div>

        <div class="sm:col-start-6 sm:col-end-8 col-start-5 col-end-8 sm:row-start-1 sm:row-end-3 row-start-1 row-end-2 flex items-center justify-around ">

            <a href="" class="text-white">
                <p class="bg-blue-500 2xl:px-3 2xl:py-2 lg:px-2 lg:py-2  px-1 py-1 font-bold text-sm lg:text-xl">SERVICIOS</p>
            </a>

            <a href="">
                <img class="2xl:w-12 2xl:h-10 lg:w-10 lg:h-8 md:8 md:6 w-7 h-6" src="assets/img/rastreo.png" alt="">
            </a>

            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="2xl:w-12 2xl:h-10 lg:w-10 lg:h-8 md:8 md:6 w-7 h-6 fill-slate-50 stroke-2" viewBox="0 -960 960 960"><path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg>
            </a>
        </div>
       
    </div>
    
</div>
<ng-content></ng-content>