<div class="fixed top-0 right-0 left-0 z-10">
    <app-store></app-store>
</div>

<div class="grid grid-rows-2 grid-cols-7 bg-neutral-300 lg:mt-[4.5rem] sm:mt-14 mt-24 z-0">

    <div class="xl:col-start-1 xl:col-end-2 lg:col-start-1 lg:col-end-2 md:col-start-1 md:col-end-3 sm:col-start-1 sm:col-end-3 col-start-1 col-end-8 sm:row-start-1 sm:row-end-3 row-start-1 row-end-2">
        <div class="sm:sticky lg:top-[4.5rem] sm:top-14 top-24">
            <app-sidebar class=""></app-sidebar>
        </div>
    </div>

    <div class="xl:col-start-2 xl:col-end-8 lg:col-start-2 lg:col-end-8 md:col-start-3 md:col-end-8 sm:col-start-3 sm:col-end-8 col-start-1 col-end-8 sm:row-start-1 sm:row-end-3 row-start-2 row-end-3">
        
        <div class="m-3">
            <img class="w-full md:h-52 h-32 object-cover" src="assets/img/category.png" alt="">
        </div>

        <div class="flex justify-center my-5">
            <p class="lg:text-4xl md:text-3xl text-lg font-light"><span class="text-indigo-500 font-bold">#</span><span class="font-extralight">En</span><span class="font-semibold">cu</span><span class="font-medium">en</span>tra lo <span class="font-normal">mejor</span> en <span class="text-indigo-500 font-semibold">LAPTOPS</span></p>
        </div>

        <div class="flex flex-wrap justify-around ">

            <div class="rounded-lg bg-white lg:p-5 md:p-4 sm:p-3 p-2 lg:w-72 md:w-64 sm:w-[12rem] w-[9.6rem] m-3">
                <div class="flex justify-center">
                    <img class="lg:w-52 lg:h-52 md:w-40 md:h-40 sm:w-32 sm:h-32 w-28 h-28" src="assets/img/product01.png" alt="">
                </div>
                <hr>
                <p class=" my-1 lg:text-lg md:text-[0.7rem] sm:text-[0.6rem] text-[0.5rem]">APPLE</p>
                <h3 class="font-semibold sm:my-2 my-1 lg:text-[1rem] md:text-[0.8rem] sm:text-[0.7rem] text-[0.5rem]">Laptop LENOVO Light 203 GB 16 SSD 500 GB 15” Color Negro</h3>
                <p class="text-indigo-500 font-medium md:my-2 my-1 lg:text-2xl md:text-xl sm:text-base text-base">S/ 3 500.00</p>
                <p class="text-amber-500 lg:text-4xl md:text-2xl sm:text-lg text-lg font-semibold md:my-2 my-1 invisible">S/ 3 000.00</p>
                <div class="bg-amber-500 lg:mt-4 md:mt-3 sm:mt-2 mt-1 rounded-full flex justify-center hover:brightness-95 hover:outline hover:outline-offset-1 hover:outline-amber-500">
                    <a class="font-semibold lg:text-2xl md:text-xl sm:text-lg text-base text-white md:py-2 py-1" href="#">Ver Producto</a>
                </div>
            </div>

            <div class="rounded-lg bg-white lg:p-5 md:p-4 sm:p-3 p-2 lg:w-72 md:w-64 sm:w-[12rem] w-[9.6rem] m-3">
                <div class="flex justify-center">
                    <img class="lg:w-52 lg:h-52 md:w-40 md:h-40 sm:w-32 sm:h-32 w-28 h-28" src="assets/img/product01.png" alt="">
                </div>
                <hr>
                <p class="my-1 lg:text-lg md:text-[0.7rem] sm:text-[0.6rem] text-[0.5rem]">HP</p>
                <h3 class="font-semibold sm:my-2 my-1 lg:text-[1rem] md:text-[0.8rem] sm:text-[0.7rem] text-[0.5rem]">Laptop LENOVO Light 203 GB 16 SSD 500 GB 15” Color Negro</h3>
                <p class="text-indigo-500 font-medium md:my-2 my-1 lg:text-2xl md:text-xl sm:text-base text-base line-through">S/ 3 500.00</p>
                <p class="text-amber-500 lg:text-4xl md:text-2xl sm:text-lg text-lg font-semibold md:my-2 my-1">S/ 3 000.00</p>
                <div class="bg-amber-500 lg:mt-4 md:mt-3 sm:mt-2 mt-1 rounded-full flex justify-center hover:brightness-95 hover:outline hover:outline-offset-1 hover:outline-amber-500">
                    <a class="font-semibold lg:text-2xl md:text-xl sm:text-lg text-base text-white md:py-2 py-1" href="#">Ver Producto</a>
                </div>
            </div>

            <div class="rounded-lg bg-white lg:p-5 md:p-4 sm:p-3 p-2 lg:w-72 md:w-64 sm:w-[12rem] w-[9.6rem] m-3">
                <div class="flex justify-center">
                    <img class="lg:w-52 lg:h-52 md:w-40 md:h-40 sm:w-32 sm:h-32 w-28 h-28" src="assets/img/product01.png" alt="">
                </div>
                <hr>
                <p class=" my-1 lg:text-lg md:text-[0.7rem] sm:text-[0.6rem] text-[0.5rem]">APPLE</p>
                <h3 class="font-semibold sm:my-2 my-1 lg:text-[1rem] md:text-[0.8rem] sm:text-[0.7rem] text-[0.5rem]">Laptop LENOVO Light 203 GB 16 SSD 500 GB 15” Color Negro</h3>
                <p class="text-indigo-500 font-medium md:my-2 my-1 lg:text-2xl md:text-xl sm:text-base text-base">S/ 3 500.00</p>
                <p class="text-amber-500 lg:text-4xl md:text-2xl sm:text-lg text-lg font-semibold md:my-2 my-1 invisible">S/ 3 000.00</p>
                <div class="bg-amber-500 lg:mt-4 md:mt-3 sm:mt-2 mt-1 rounded-full flex justify-center hover:brightness-95 hover:outline hover:outline-offset-1 hover:outline-amber-500">
                    <a class="font-semibold lg:text-2xl md:text-xl sm:text-lg text-base text-white md:py-2 py-1" href="#">Ver Producto</a>
                </div>
            </div>

            <div class="rounded-lg bg-white lg:p-5 md:p-4 sm:p-3 p-2 lg:w-72 md:w-64 sm:w-[12rem] w-[9.6rem] m-3">
                <div class="flex justify-center">
                    <img class="lg:w-52 lg:h-52 md:w-40 md:h-40 sm:w-32 sm:h-32 w-28 h-28" src="assets/img/product01.png" alt="">
                </div>
                <hr>
                <p class=" my-1 lg:text-lg md:text-[0.7rem] sm:text-[0.6rem] text-[0.5rem]">APPLE</p>
                <h3 class="font-semibold sm:my-2 my-1 lg:text-[1rem] md:text-[0.8rem] sm:text-[0.7rem] text-[0.5rem]">Laptop LENOVO Light 203 GB 16 SSD 500 GB 15” Color Negro</h3>
                <p class="text-indigo-500 font-medium md:my-2 my-1 lg:text-2xl md:text-xl sm:text-base text-base">S/ 3 500.00</p>
                <p class="text-amber-500 lg:text-4xl md:text-2xl sm:text-lg text-lg font-semibold md:my-2 my-1 invisible">S/ 3 000.00</p>
                <div class="bg-amber-500 lg:mt-4 md:mt-3 sm:mt-2 mt-1 rounded-full flex justify-center hover:brightness-95 hover:outline hover:outline-offset-1 hover:outline-amber-500">
                    <a class="font-semibold lg:text-2xl md:text-xl sm:text-lg text-base text-white md:py-2 py-1" href="#">Ver Producto</a>
                </div>
            </div>
        </div>

    </div>
    
</div>

<div>
    <app-footer></app-footer>
</div>

<style>
    .grid-rows-2 {
  grid-template-rows: min-content min-content;
}
</style>