<div class="bg-indigo-100 h-full">
    <div class="pt-3 ">
        <div class="flex bg-black py-2">
            <svg class="ml-5 mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m260-520 220-360 220 360H260ZM700-80q-75 0-127.5-52.5T520-260q0-75 52.5-127.5T700-440q75 0 127.5 52.5T880-260q0 75-52.5 127.5T700-80Zm-580-20v-320h320v320H120Zm580-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-500-20h160v-160H200v160Zm202-420h156l-78-126-78 126Zm78 0ZM360-340Zm340 80Z"/></svg>
            <h2 class="text-white font-semibold">CATEGORIA</h2>
        </div>
        <div class="ml-10 font-semibold overflow-y-auto h-72">
            <p class="py-2 ">Monitores</p>
            <p class="py-2">Impresoras</p>
            <p class="py-2">Routers</p>
            <p class="py-2">Tintas</p>
            <p class="py-2">Monitores</p>
            <p class="py-2">Impresoras</p>
            <p class="py-2">Routers</p>
            <p class="py-2">Tintas</p>
            <p class="py-2">Tintas</p>
            <p class="py-2">Monitores</p>
            <p class="py-2">Impresoras</p>
            <p class="py-2">Routers</p>
            <p class="py-2">Tintas</p>
        </div>
    </div>

    <div class="pt-6">
        <div class="flex bg-black py-2">
            <svg class="ml-5 mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m260-520 220-360 220 360H260ZM700-80q-75 0-127.5-52.5T520-260q0-75 52.5-127.5T700-440q75 0 127.5 52.5T880-260q0 75-52.5 127.5T700-80Zm-580-20v-320h320v320H120Zm580-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-500-20h160v-160H200v160Zm202-420h156l-78-126-78 126Zm78 0ZM360-340Zm340 80Z"/></svg>
            <h2 class="text-white font-semibold">MARCAS</h2>
        </div>
        <br class="text-white">
        <div class="ml-10 font-semibold overflow-y-auto h-72">
            <p class="py-2 ">Monitores</p>
            <p class="py-2">Impresoras</p>
            <p class="py-2">Routers</p>
            <p class="py-2">Tintas</p>
            <p class="py-2">Monitores Routers</p>
            <p class="py-2">Impresoras</p>
            <p class="py-2">Routers</p>
            <p class="py-2">Tintas</p>
            <p class="py-2">Tintas</p>
            <p class="py-2">Monitores</p>
            <p class="py-2">Impresoras</p>
            <p class="py-2">Routers</p>
            <p class="py-2">Tintas</p>
        </div>
    </div>
</div>
